@charset "UTF-8";
/* ----- Stil för formuläret ----- */

#booking {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.4em;
}

#booking fieldset {
    background-color: #FED;
    margin-bottom: 20px;
    display: grid;
    gap: 0.4em;
}
#booking legend {
    font-weight: bold;
    font-style: italic;
}

#date {
    grid-template-columns: 1fr 1fr;
}

#room {
    grid-template-columns: max-content auto;
}
#room label {
	grid-column: 1/2;
}
#room label:last-of-type {
	grid-column: 2/3;
}
.price {
    font-size: 0.8em;
}

#facilities p {
	margin: 0;
    font-size: 0.8em;
	font-style: italic;
}

select:disabled ~ *,
input:disabled ~ * { /* Grå text efter element som är inaktiverat */
    color: #999;
}

#customer {
    grid-template-columns: max-content auto;
}
#customer input {
    max-width: 40ch;
}
#customer #zipcode {
    max-width: 6ch;
}
.errorMsg {
	font-size: 0.8em;
	font-style: italic;
	color: #E00;
}

#campaign input {
	max-width: 10ch;
}

#booking #total {
    display: block; /* Ta bort grid för fieldset #total */
}
#totalCost {
    font-size: 1.3em;
}
#total #totalCost::before { /* Denna kod ger en radbrytning */
    display: block;
    content: "";
    clear: both;
}

#send {
    display: block;
    margin-left: auto;
    font-size: 1.2em;
    border-radius: 0.6em;
    background-color: #7BE;
}
#send:hover {
    background-color: #7E8;
}

@media screen and (max-width: 700px) {
    #booking fieldset {
        grid-template-columns: auto;
        gap: 0.2em;
    }
    #room label:last-of-type {
        grid-column: 1/2;
    }
}

@media screen and (max-width: 560px) {
    #booking {
        grid-template-columns: auto;
    }
}
